* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;  
    height: 100%;
    padding: 0;
    margin: 0;
    color: #4a4b4c;
    /* background-color: #EEEEEE; */
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    padding: 13px 20px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 16px;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button-primary {
    background-color: #7296EC;
    color: #fff;
}

.button-primary:hover {
    opacity: 0.8;
}

.buttor-primary {
    opacity: 0.6;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* SITE HEADER */

/* Site header top */

.site-header-top {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(246, 246, 246, 1);
}

.site-header-top-container {
    display: flex;
    align-items: center;
}

.site-header-logo {
    display: flex;
    padding: 6px 8px;
    margin-right: 35px;
    background-color: #ffffff;
    border-radius: 7px;
    height: 28px;
}

.site-header-logo:hover {
    opacity: 0.8;
}

.site-header-logo:active {
    opacity: 0.6;
}

.currency-rates {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: auto;
}

.currency-rates-item:not(:last-child) {
    margin-right: 25px;
}

.currency-rates-type {
    color: #2959CE;
}

.lang-toggle {
    display: flex;
    padding: 3px;
    margin-right: 25px;
    background-color: #DCE6FF;
    border-radius: 39px;
}

.lang-toggle-link {
    width: 30px;
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    color: #a6a6a6;
    text-align: center;
    text-decoration: none;
}

.lang-toggle-active {
    border-radius: 50%;
    background-color: #fff;
    color: #000
}





