* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;  
    height: 100%;
    padding: 0;
    margin: 0;
    color: #4a4b4c;
    /* background-color: #EEEEEE; */
}

img {
    max-width: 100%;
    height: auto;
}

/* OUTLINE STYLES */

*:focus {
    outline: 2px dashed #7296EC;
    outline-offset: 3px;
}

.button {
    display: inline-block;
    padding: 13px 20px;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.buttor:active {
    opacity: 0.6;
}

.button-primary {
    background-color: #7296EC;
    color: #fff;
}


.button-orange {
    background-color: #F78B3B;
    color: #fff;
}

.button-block {
    display: block;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* SITE HEADER */

/* Site header top */

.site-header-top {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(246, 246, 246, 1);
}

.site-header-top-container {
    display: flex;
    align-items: center;
}

.site-header-logo {
    display: flex;
    padding: 6px 8px;
    margin-right: 35px;
    background-color: #ffffff;
    border-radius: 7px;
    height: 28px;
}

.site-header-logo:hover {
    opacity: 0.8;
}

.site-header-logo:active {
    opacity: 0.6;
}

.currency-rates {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: auto;
}

.currency-rates-item:not(:last-child) {
    margin-right: 25px;
}

.currency-rates-type {
    color: #2959CE;
}

.global-search-form {
    margin-right: 28px;
}

.global-search-form-input {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 13px;
    border: 0;
    font-size: 14px;
    line-height: normal;
    border-radius: 60px;
}

.lang-toggle {
    display: flex;
    padding: 3px;
    margin-right: 25px;
    background-color: #DCE6FF;
    border-radius: 39px;
}

.lang-toggle-link {
    width: 30px;
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    color: #a6a6a6;
    text-align: center;
    text-decoration: none;
}

.lang-toggle-active {
    border-radius: 50%;
    background-color: #fff;
    color: #000
}

/* SITE-NAV */

.sitenav {
    font-size: 18px;
    font-weight: 500;
}

.sitenav-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: none;
    list-style: none;
}

.sitenav-item:not(:last-child) {
    margin-right: 20px;
}

.sitenav-link {
    display: block;
    color: #7F7F7F;
    text-decoration: none;
}

.sitenav-link:hover {
    color: #7296EC;
}

.sitenav-link:active {
    opacity: 0.6;
}

.site-header-img {
    border-radius: 8px;
    margin-top: 40px;
}


/* MAIN CONTENT */

/* NEWS GRID */

.main-content {
    padding-bottom: 100px;
    padding-top: 50px;
    flex-grow: 1;
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.news-grid-item {
    width: 393px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.article-card {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 20px 17px 15px;
    border-radius: 15px;
}

.article-card-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}

.article-card-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.article-card-link:hover {
    color: #7296EC;
}

.article-card-link:active {
    opacity: 0.6;
}

.article-card-text {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #4A4B4C;
}

.article-card-img {
    display: block;
    width: 360px;
    height: 165px;
    margin-top: auto;
    margin-bottom: 15px;
    border-radius: 15px;
    object-fit: cover;
}

.article-card-footer {
    display: flex;
    align-items: center;
}

.article-card-source-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}


/* NOTIFICATION CTA */

.notification-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 70px 25px 25px;
    margin: 60px 75px;
    border-radius: 10px;
    background-color: #ffd7ba;
}

.notification-cta-text {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
}

/* WORLD NEWS */


.global-news-heading {
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.news-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.news-list-item:not(:last-child) {
    margin-bottom: 10px;
}

/* ARTICLE-HORIZONTAL-CARD */

.article-card-horizontal {
    display: flex;
    align-items: flex-start;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 15px;
}

.article-card-horizontal-img {
    width: 210px;
    height: 165px;
    margin-right: 15px;
    border-radius: 10px;
    object-fit: cover;
}

.article-card-hozizontal-content {
    flex-grow: 1;
}

.article-card-horizontal-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}

.article-card-horizontal-title-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.article-card-horizontal-title-link:hover {
    color: #7296EC;
}

.article-card-horizontal-title-link:active {
    opacity: 0.6;
}

.article-card-horizontal-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #4A4B4C;
    margin-top: 0;
    margin-bottom: 17px;
}

.article-card-horizontal-footer {
    display: flex;
    align-items: center;
}

.article-card-horizontal-source-icon {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
}

.article-card-horizontal-source-time {
    font-size: 12px;
    line-height: normal;
    color: #5e5f65;
}

.news-list-more-button {
    padding: 17px;
}

/* LAYOUT */

.layout-2-1 {
    display: flex;
    align-items: flex-start;
}

.layout-2-1-main {
    width: 797px;
    margin-right: 10px;
}

.layout-2-1-sidebar {
    margin-top: 49px;
    width: 393px;
}

.layout-2-1-sidebar-item:not(:last-child) {
    margin-bottom: 10px;
}

/*SIDEBAR-NEWS-CARD */


.sidebar-news-card {
    padding: 20px;
    border-radius: 15px;
    background-color: #f6f6f6;
    color: #000;
}

.sidebar-news-card-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.sidebar-news-card-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-news-card-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar-news-card-item:first-child {
    padding-top: 0;
}

.sidebar-news-card-item:last-child {
    padding-bottom: 0;
}

.sidebar-news-card-item:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
}

.sidebar-news-card-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.sidebar-news-card-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.sidebar-news-card-link:hover {
    color: #7296EC;
}

.sidebar-news-card-link:active {
    opacity: 0.6;
}

.sidebar-news-card-source-time {
    font-size: 13px;
    line-height: normal;
    color: #5e5f65;
}

/* SIDEBAR-AD */

.sidebar-ad-link {
    display: flex;
}

.sidebar-ad-img {
    width: 393px;
    height: 338px;
    border-radius: 15px;
}

/* SITE-FOOTER */

.site-footer {
    background-color: #7297EF;
}

.footer-container {
    padding: 40px 101px;
}

.site-footer-wrapper {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    border-bottom: 1px solid #cecece
}

.site-footer-text {
    width: 229px;
    margin-right: 203px;
    margin-top: 16px;
    padding: 0; 
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    color: #fff;
}

.site-footer-items {
    display: inline-block;
    flex-direction: column;
    width: 224px;
    padding: 0;
    margin-right: 100px;
    list-style: none;
}

.site-footer-last-items {
    margin-right: 0;
}

.site-footer-item {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: normal;
}



.site-footer-link {
    color: #fff;
    text-decoration: none;
}

.site-footer-divider {
    height: 1px;
    background-color: #cecece;
    padding: 0;
}

.site-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.site-footer-bottom-text {
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    color: #fff;
}

.site-footer-bottom-socials {
    display: flex;
    align-items: center;
    list-style: none;
}


.site-footer-bottom-link {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

.site-footer-bottom-link:last-child {
    margin-right: 0;
}














